//Screen's width
$mobileW: 375px;
$tableW: 768px;
$desktopW: 1440px;
$viewportD: 1480px;
$pad: 16px;


//color

$dark: #0E0E0E;
$gray: #7A7A7A;
$main-dark: #141414; 

// Base variable
$accent: #A9E34B;
$textcolor: #C1C1C1;
$lineheight: 22px;
$fontsize: 15px;
$userfont: 'SFProDisplay', sans-serif;
$secondFont: 'SFProText', sans-serif;
$minFont: 'Inter', sans-serif;
$fontweight: 400;